.game {
    display: flex;
    gap: 20px;
    justify-content: center;
    height: 750px;
    align-content: center;
    text-align: center;
    align-items: center;
    background-color: grey;
    justify-self: center;
    border: 2px solid black;
    font-weight: bold;
}


.container {
    height: 100vh;
    width: 100%;
    align-items: center;
    background-color: #8812;
    text-align: center;
}

.guesses div {
    margin-top: 12px;
    height: 50px;
}

.guesses {
    width: 250px;
}

.hits div {
    margin-top: 12px;
    width: 50px;
    height: 50px;
    background-color: darkgrey;
}

.hits {
    margin-top: 62px;
}

.flex {
    display: flex;
}


.h-r1 {
    gap: 10px;
    justify-content: center;
    margin-top: 0px !important;
    height: 20px !important;
    background-color: darkgrey !important;;
}

.h-r1 div {
    width: 15px !important;
    height: 15px !important;
    background-colorcolor: grey;
    margin-top: 0px !important;
    border-radius: 50%;
}


.h-r2 div {
    width: 15px !important;
    height: 15px !important;
    color: white;
    margin-top: 0px !important;
    border-radius: 50%;
}

.h-r2 {
    gap: 10px;
    justify-content: center;
    margin-top: 0px !important;
    height: 15px !important;
    background-color: darkgrey !important;;
}


#hit1, #hit2, #hit3, #hit4, #hit5, #hit6, #hit7, #hit8, #hit9, #hit10 {
    align-content: center;
}

.guess-row {
    opacity: 0.8;
    pointer-events: none;
    display: flex;
    gap: 5px;
}


.guess-row.active-row {
    opacity: 1;
    pointer-events: auto;
}

.center {
    justify-content: center;
}



.guess-row div {
    background-color: white;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

.guess-row div:hover {
    cursor: pointer;
    scale: 1.1;
}

.disabled {
    pointer-events: none;
    opacity: 0.8;
}

.hidden {
    display: none;
}

.h1, .h2, .h3, .h4 {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
    margin: 2px;
    background-color: silver !important;
}

#g11 {
    justify-content: center !important;
}


#g11 div{
    margin-top: -25px;
    align-content: center;
}

body{
    margin: 0;
    background: linear-gradient(135deg, #2c3e50, #34495e, #7f8c8d, #95a5a6);
}

.guesses {
    display: grid;
    -webkit-justify-items: center;
    justify-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.hits{
    margin-top: 90px;
}

#checkButton {
    background-color: darkslategray;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 20px;
}

#checkButton:hover {
    background-color: #45a049;
}