<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mastermind Game</title>
</head>
<body>

<h1>Mastermind Game</h1>

<!-- Formularz do wyboru kolorów -->
<form method="post" action="/submitGuess">

    <!-- Wyswietlanie rzędów do wyboru kolorów -->
    <div th:each="rowIndex : ${#numbers.sequence(1, 10)}">
        <div class="row">
            <span>Rząd <span th:text="${rowIndex}"></span></span>

            <!-- Generowanie kolorów tylko w bieżącym rzędzie (currentRound) -->
            <div th:each="colorIndex : ${#numbers.sequence(1, difficulty)}">
                <label th:for="'color-' + ${rowIndex} + '-' + ${colorIndex}">Kolor [[${colorIndex}]]:</label>
                <select th:name="'colors'"
                        th:id="'color-' + ${rowIndex} + '-' + ${colorIndex}"
                        th:disabled="${rowIndex != currentRound}">
                    <option value="red"
                            th:selected="${rowIndex == currentRound && guessHistory != null && rowIndex > 1 && guessHistory[rowIndex - 2].colors[colorIndex - 1] == 'red'}">Red</option>
                    <option value="blue"
                            th:selected="${rowIndex == currentRound && guessHistory != null && rowIndex > 1 && guessHistory[rowIndex - 2].colors[colorIndex - 1] == 'blue'}">Blue</option>
                    <option value="green"
                            th:selected="${rowIndex == currentRound && guessHistory != null && rowIndex > 1 && guessHistory[rowIndex - 2].colors[colorIndex - 1] == 'green'}">Green</option>
                    <option value="yellow"
                            th:selected="${rowIndex == currentRound && guessHistory != null && rowIndex > 1 && guessHistory[rowIndex - 2].colors[colorIndex - 1] == 'yellow'}">Yellow</option>
                    <option value="black"
                            th:selected="${rowIndex == currentRound && guessHistory != null && rowIndex > 1 && guessHistory[rowIndex - 2].colors[colorIndex - 1] == 'black'}">Black</option>
                    <option value="white"
                            th:selected="${rowIndex == currentRound && guessHistory != null && rowIndex > 1 && guessHistory[rowIndex - 2].colors[colorIndex - 1] == 'white'}">White</option>
                </select>
            </div>

            <!-- W pozostałych rzędach ustawienie kolorów z guessHistory -->
            <div th:if="${rowIndex != currentRound}">
                <div th:each="colorIndex : ${#numbers.sequence(1, difficulty)}">
                    <input type="text"
                           th:name="'color-' + ${rowIndex} + '-' + ${colorIndex}"
                           th:value="${guessHistory != null && guessHistory[rowIndex - 1] != null ? guessHistory[rowIndex - 1].colors[colorIndex - 1] : ''}" disabled>
                </div>
            </div>

            <br><br>
        </div>
    </div>

    <button type="submit">Submit Guess</button>
</form>

</body>
</html>
