<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>game</title>

</head>
<body>


<div class="container">
    <h1 id="mastermind">Mastermind</h1>
    <div class="game">
        <div class=guesses>
            <div id="secretCode" class="secretCode">
                <div id="g11" class="guess-row">
                    <div id="g11-c1">?</div>
                    <div id="g11-c2">?</div>
                    <div id="g11-c3">?</div>
                    <div id="g11-c4">?</div>
                </div>
            </div>
            <div id="g10" class="guess-row">
                <div id="g10-c1"></div>
                <div id="g10-c2"></div>
                <div id="g10-c3"></div>
                <div id="g10-c4"></div>
            </div>
            <div id="g9" class="guess-row">
                <div id="g9-c1"></div>
                <div id="g9-c2"></div>
                <div id="g9-c3"></div>
                <div id="g9-c4"></div>
            </div>
            <div id="g8" class="guess-row">
                <div id="g8-c1"></div>
                <div id="g8-c2"></div>
                <div id="g8-c3"></div>
                <div id="g8-c4"></div>
            </div>
            <div id="g7" class="guess-row">
                <div id="g7-c1"></div>
                <div id="g7-c2"></div>
                <div id="g7-c3"></div>
                <div id="g7-c4"></div>
            </div>
            <div id="g6" class="guess-row">
                <div id="g6-c1"></div>
                <div id="g6-c2"></div>
                <div id="g6-c3"></div>
                <div id="g6-c4"></div>
            </div>
            <div id="g5" class="guess-row">
                <div id="g5-c1"></div>
                <div id="g5-c2"></div>
                <div id="g5-c3"></div>
                <div id="g5-c4"></div>
            </div>
            <div id="g4" class="guess-row">
                <div id="g4-c1"></div>
                <div id="g4-c2"></div>
                <div id="g4-c3"></div>
                <div id="g4-c4"></div>
            </div>
            <div id="g3" class="guess-row">
                <div id="g3-c1"></div>
                <div id="g3-c2"></div>
                <div id="g3-c3"></div>
                <div id="g3-c4"></div>
            </div>
            <div id="g2" class="guess-row">
                <div id="g2-c1"></div>
                <div id="g2-c2"></div>
                <div id="g2-c3"></div>
                <div id="g2-c4"></div>
            </div>
            <div id="g1" class="guess-row">
                <div id="g1-c1"></div>
                <div id="g1-c2"></div>
                <div id="g1-c3"></div>
                <div id="g1-c4"></div>
            </div>

        </div>

        <div class="hits">
            <div id="hit10">
                <div class="flex h-r1">
                    <div class="h1"></div>
                    <div class="h2"></div>
                </div>
                <div class="flex h-r2">
                    <div class="h3"></div>
                    <div class="h4"></div>
                </div>
            </div>

            <div id="hit9">
                <div class="flex h-r1">
                    <div class="h1"></div>
                    <div class="h2"></div>
                </div>
                <div class="flex h-r2">
                    <div class="h3"></div>
                    <div class="h4"></div>
                </div>
            </div>

            <div id="hit8">
                <div class="flex h-r1">
                    <div class="h1"></div>
                    <div class="h2"></div>
                </div>
                <div class="flex h-r2">
                    <div class="h3"></div>
                    <div class="h4"></div>
                </div>
            </div>

            <div id="hit7">
                <div class="flex h-r1">
                    <div class="h1"></div>
                    <div class="h2"></div>
                </div>
                <div class="flex h-r2">
                    <div class="h3"></div>
                    <div class="h4"></div>
                </div>
            </div>

            <div id="hit6">
                <div class="flex h-r1">
                    <div class="h1"></div>
                    <div class="h2"></div>
                </div>
                <div class="flex h-r2">
                    <div class="h3"></div>
                    <div class="h4"></div>
                </div>
            </div>

            <div id="hit5">
                <div class="flex h-r1">
                    <div class="h1"></div>
                    <div class="h2"></div>
                </div>
                <div class="flex h-r2">
                    <div class="h3"></div>
                    <div class="h4"></div>
                </div>
            </div>

            <div id="hit4">
                <div class="flex h-r1">
                    <div class="h1"></div>
                    <div class="h2"></div>
                </div>
                <div class="flex h-r2">
                    <div class="h3"></div>
                    <div class="h4"></div>
                </div>
            </div>

            <div id="hit3">
                <div class="flex h-r1">
                    <div class="h1"></div>
                    <div class="h2"></div>
                </div>
                <div class="flex h-r2">
                    <div class="h3"></div>
                    <div class="h4"></div>
                </div>
            </div>

            <div id="hit2">
                <div class="flex h-r1">
                    <div class="h1"></div>
                    <div class="h2"></div>
                </div>
                <div class="flex h-r2">
                    <div class="h3"></div>
                    <div class="h4"></div>
                </div>
            </div>

            <div id="hit1">
                <div class="flex h-r1">
                    <div class="h1"></div>
                    <div class="h2"></div>
                </div>
                <div class="flex h-r2">
                    <div class="h3"></div>
                    <div class="h4"></div>
                </div>
            </div>
        </div>

        <div>
            <button id="checkButton">Check</button>
        </div>

    </div>
</div>

<script src="script.js" defer></script>
</body>
</html>