<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>

<form method="post" th:action="@{/submit}">
    <label for="colorSet1">Choose first color set:</label>
    <select name="colorSet1" id="colorSet1">
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
        <option value="white">White</option>
        <option value="black">Black</option>
    </select>

    <label for="colorSet2">Choose second color set:</label>
    <select name="colorSet2" id="colorSet2">
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
        <option value="white">White</option>
        <option value="black">Black</option>
    </select>

    <label for="colorSet3">Choose third color set:</label>
    <select name="colorSet3" id="colorSet3">
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
        <option value="white">White</option>
        <option value="black">Black</option>
    </select>

    <label for="colorSet4">Choose fourth color set:</label>
    <select name="colorSet4" id="colorSet4">
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
        <option value="white">White</option>
        <option value="black">Black</option>
    </select>

    <button type="submit">Submit</button>
</form>


<!--liste z 4 opcjami  -->

<!--lista<id1=r,id2=g,id3=b,id4=d> submit -> backend   -->

<!--  b y g r   -->

<!--  o o o o    x-x-x-x -->
<!--  o o o o    x-x-x-x -->
<!--  o o o o    x-x-x-x -->
<!--  o o o o    x-x-x-x -->
<!--  o o o o    x-x-x-x -->
<!--  o o o o    x-x-x-x -->
<!--  o o o o    x-x-x-x -->
<!--  o o o o    x-x-x-x -->
<!--  o o o o    x-x-x-x -->
<!--  o o o o    x-x-x-x -->

</body>
</html>