<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<link rel="stylesheet" type="text/css" href="../static/style.css">
<body>

<div class="center">
    <form method="post" action="/startGameWithComputer">
        <input type="number" id="amount" name="amount" min="4" max="5" required>
        <button type="submit">vs Computer</button>
    </form>

<!--    <form method="post" action="/secretCode">-->
<!--        <input type="number" id="amount" name="amount" min="4" max="5" required>-->
<!--        <button type="submit">vs Player</button>-->
<!--    </form>-->
</div>


</body>
</html>