<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vsPlayer</title>
</head>
<body>

<div class="center">
    <form method="post" action="/start-game-vs-player">
        <label for="color1">Kolor 1:</label>
        <input type="text" id="color1" name="color1" required><br><br>

        <label for="color2">Kolor 2:</label>
        <input type="text" id="color2" name="color2" required><br><br>

        <label for="color3">Kolor 3:</label>
        <input type="text" id="color3" name="color3" required><br><br>

        <label for="color4">Kolor 4:</label>
        <input type="text" id="color4" name="color4" required><br><br>

        <button type="submit">Submit Secret Code</button>
    </form>
</div>

</body>
</html>