<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
</head>
<body>

<form method="post" action="/secretCode">
    <h3>Wybierz swoje kolory</h3>

    <div th:each="index : ${#numbers.sequence(1, difficulty)}">
        <label for="color-field-[[${index}]]">Kolor [[${index}]]:</label>
        <select name="colors" id="color-field-[[${index}]]">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="yellow">Yellow</option>
            <option value="white">White</option>
            <option value="black">Black</option>
        </select>
        <br>
    </div>

    <button type="submit">Confirm</button>
</form>

</form>


<!--liste z 4 opcjami  -->

<!--lista<id1=r,id2=g,id3=b,id4=d> submit -> backend   -->

<!--  b y g r   -->

<!--  o o o o    x-x-x-x -->
<!--  o o o o    x-x-x-x -->
<!--  o o o o    x-x-x-x -->
<!--  o o o o    x-x-x-x -->
<!--  o o o o    x-x-x-x -->
<!--  o o o o    x-x-x-x -->
<!--  o o o o    x-x-x-x -->
<!--  o o o o    x-x-x-x -->
<!--  o o o o    x-x-x-x -->
<!--  o o o o    x-x-x-x -->

</body>
</html>